body {
background: #c8bff5;
}

.App {
max-width: 960px;
margin: 0 auto;
}

a {
  color: #5316ee;
}


.App-header {
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 900px;
  text-align: center;
  margin: 40px 0;
}

.App-logo {
  max-width: 200px; 
  display: block;
  margin: 0 auto;
}

.App-footer {
text-align: center;
 margin: 30px 0;
}


